/* Основные цвета */
:root {
    --primary-color: #007bff; /* Синий */
    --secondary-color: #2196F3; /* Светло-синий */
    --background-color: #f2f2f2; /* Серый фон */
    --text-color: #333; /* Темно-серый текст */
  }
  
  /* Общие стили */
  body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
  }
  
  /* Заголовок */
  header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header a {
    color: white;
    text-decoration: none;
  }
  
  /* контейнер для навигации */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* основной контент */
  .containerMain {
    padding: 20px 0;
  }
  
  /* разметка контента */
  .layout-out {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  /* дополнительные стили */
  h1, h2, h3 {
    color: var(--primary-color);
  }
  
  a {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  header a:hover {
    margin-bottom: 15px;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--secondary-color);
  }
  
  .layout-inner{
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }

  .instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1rem;
  }

  .instruction ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .instruction ul li{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid hwb(0 80% 20%);
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
  }

  .instruction ul li:hover{
    margin-bottom: 15px;
    padding: 20px;
    background-color:#ccc;
  }

  .instruction ul li a{
    text-decoration: none;
  }

  .menu-container {
    align-items: center;
    background-color: #f6f6f6;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .main-title{
    font-size: 70px;
  }
  
  
  /* отзывчивый дизайн */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .layout-out {
      padding: 10px;
    }
  }


.quiz-container {
    background-color: #f6f6f6;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quiz-container button {
    display: block;  /* Делаем кнопку блочным элементом */
    margin: 0 auto;
    margin-top: 10px;
}

.question {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.option {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #fff;
}

.result {
    display: none;
    margin-top: 20px;
    font-size: 1.2rem;
}